<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pad3px-top mb-3 border-bottom">
	<h4>Admin page</h4>
</div>

<div class="card text-center shadow p-3 mb-5 bg-white rounded">
  <div class="card-body ">
    <div class="d-flex justify-content-center">
      <div class="field form-group">
        <div class="container-fluid">
          <h4>Config</h4>
        	<%= link_to({:controller => 'admin', :action => 'view_config'}) do %>
        	<button type="button" class="btn btn-success">Show config</button>
        	<% end %>
        	<%= link_to({:controller => 'admin', :action => 'update_config'}) do %>
        	<button type="button" class="btn btn-success">Update config</button>
        	<% end %>
        </div>

        <div class="container-fluid">
          <h4>Currencies</h4>
          <%= link_to({:controller => 'admin', :action => 'list_currencies'}) do %>
          <button type="button" class="btn btn-success">List</button>
          <% end %>
          <%= link_to({:controller => 'admin', :action => 'get_currencies'}) do %>
          <button type="button" class="btn btn-success">Update</button>
          <% end %>
          <%= link_to({:controller => 'admin', :action => 'delete_currencies'}) do %>
          <button type="button" class="btn btn-danger" onclick="return confirm('This will DROP all records in DB including rates. Are you sure?')">Clear</button>
          <% end %>
        </div>
        
      </div>
    </div>
</div>